.grid-cell {
    margin-bottom: 20px;
}

.seach-panel {
    margin-top: 30px;
    padding: 15px;
    margin-bottom: 10px;
}

.search-from-to {
    width: 120px !important;
}

.search-button {
    margin-left: 5px;
}

.page-links {
    padding: 10px;
    background-color: #F5F5F5;
}

.browse-btn a:hover {
    text-decoration: none !important;
}

.close {
    margin-top: -9px;
}